.language-slider{
  padding-left: 20px;
  padding-right: 20px;
}

.language-slider__list{
  .row;
  padding-left: 20px;
  padding-right: 20px;
}

.language-slider__link{
  color: @white;
  padding-left: 20px;
  padding-right: 20px;
}
